img{
    border-radius: 50%;
}


.bgprimary{
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to right, #000000, #495355);
}

.bgsecondary {
    background-image: url("https://image.freepik.com/vector-gratis/ola-texturas-vector-fondo-blanco_53876-60287.jpg");
    background-repeat:no-repeat;
    background-size: cover;
}

section{
    padding: 4vmax;
}

