<div class="container-fluid p-0">
    <section class="bgprimary">
        <div class="row ">
            <div class="col-5">
               <img src="../../assets/img.jpg" alt="" class="w-75">
            </div>
            <div class="col">
                <p>En sólo 6 meses hemos alcanzado el 75% de nuestro plan de formación anual. OpenWebinars ha supuesto un apoyo clave para llevar nuestro modelo formativo a un nivel superior.</p>
                <h2>Marta Fajardo</h2>
                <p>Directora de Desarrollo de Talento en OESÍA</p>
            </div>
        </div>
    </section>
    <section class="bgsecondary" >
        <div class="row ">
            <div class="col">
               <img src="../../assets/img.jpg" alt="" class="w-75">
            </div>
            <div class="col">
                <p>En sólo 6 meses hemos alcanzado el 75% de nuestro plan de formación anual. OpenWebinars ha supuesto un apoyo clave para llevar nuestro modelo formativo a un nivel superior.</p>
                <h2>Marta Fajardo</h2>
                <p>Directora de Desarrollo de Talento en OESÍA</p>
            </div>
        </div>
    </section>
</div>