
<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <a class="navbar-brand" href="#">
            <img src="../../assets/logo2.png" alt="" width="15%">
            Providence Travels</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Administración
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" [routerLink]="['usuariosControl']">Usuarios</a>
              </div>
            </li>
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['principal']">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['nosotros']">Nosotros <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['reservaciones']">Reserva Ahora! <span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
         <ng-container *ngIf="blnIsEnabled==true">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" [routerLink]="['login']">Iniciar Sesión <span class="sr-only">(current)</span></a>
              </li>
            <!--  <li>
                <button class="nav-link" class="btn btn-primary" [routerLink]="['register']">Registrate <span class="sr-only">(current)</span></button>
              </li>-->
              </ul>
          </ng-container>
          <ng-container *ngIf="blnIsEnabled==false" >
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" [routerLink]="['login']">Logout <span class="sr-only">(current)</span></a>
              </li>
              
              </ul>
          </ng-container>
          </form>
        </div>
      
  </nav>

