<div class="container-fluid p-0">
    <section class="bgprimary">
        <div class="row ">
            <div class="col">
                <h1>¿Quiénes somos?</h1>
                <br>
                <p>Somos una Agencia de Viajes en Aguascalientes, Ags. México. Llevamos más de 7 años prestando nuestros servicios de reservaciones con un gran éxito. La experiencia de nuestros clientes y proveedores habla por nosotros mismos. La experiencia que brinda Providence Travels es única desde el momento de la cotización de tu compra, hasta el regreso de tu viaje.</p>
            </div>
            <div class="col-5">
                <img src="../../assets/img.jpg" alt="" class="w-75">
             </div>
        </div>
    </section>
    <section class="bgsecondary">
        <div class="row ">
            <div class="col-5">
                <img src="../../assets/img.jpg" alt="" class="w-75">
             </div>
            <div class="col bg3">
                <h1>¿Qué te ofrecemos como Agencia?</h1>
                <br>
                <p>Providence Travels es una Agencia de Viajes Confiable y debidamente establecida. Ofrecemos más de 100 servicios turísticos tanto Nacionales como Internacionales, desde Vuelos, Hospedajes, Renta de Autobuses, etc. Y cada uno de nuestros servicios es personalizado, atendiendo tus necesidades al momento de viajar.</p>
            </div>
        </div>
    </section>
    <section class="bgprimary">
        <div class="row ">
            <div class="col">
                <h1>¿Por qué comprar con nosotros?</h1>
                <br>
                <p>Otorgamos a cada uno de nuestros clientes la seguridad de compra, políticas de pago accesibles y un servicio personalizado de acuerdo a las peticiones de cada uno de ellos, proporcionando  no solo la información atractiva del destino o servicio, sino todo lo que debe saber sobre la compra para que, al momento de decidirse por un Paquete, tenga la mejor opción posible para su placer y su bolsillo.</p>
            </div>
            <div class="col-5">
                <img src="../../assets/img.jpg" alt="" class="w-75">
             </div>
        </div>
    </section>
    <section class="bgsecondary">
        <div class="row ">
            <div class="col-5">
               <img src="../../assets/img.jpg" alt="" class="w-75">
            </div>
            <div class="col bg3">
                <h1>Contáctanos</h1>
                <br>
                <ul>
                    <li><i class="fas fa-phone"></i> 449 293 64 64</li>
                    <li><i class="fas fa-phone"></i> 449 113 72 43</li>
                    <li><i class="fas fa-map-marker-alt"></i> Prol. Libertad #1804 Fracc. Las arboledas </li>
                    <li><i class="fas fa-envelope"></i> padilla2510@hotmail.com</li>
                </ul>
            </div>
        </div>
    </section>
</div>