<div class="container">
    <div class="align">
    <button class="btn" [routerLink]="['/usuariosNuevo']"><i class="fas fa-user-plus fa-lg"></i></button>
  </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Tipo de Usuario</th>
                    <th>Acceso Email</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let usuario of this.lista">
                    <td>{{usuario.nombre}}</td>
                    <td>{{usuario.apellido}}</td>
                    <td>{{usuario.tipoUsuario.nombre}}</td>
                    <td>{{usuario.acceso.email}}</td>
                    <td>
                        <Button class="btn" [routerLink]="['/usuariosEditar',usuario.ID]"><i class="fas fa-pencil-alt"></i></Button>
                        <Button   class="btn" (click)="auxUsuario(usuario)" data-toggle="modal" data-target="#ModalUsuario"><i class="far fa-trash-alt"></i></Button>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>


    <!-- The Modal -->
    <div class="modal fade" id="ModalUsuario"  #content>
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Eliminar Usuario</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Estas tratando de eliminar este usuario {{this.usuario['nombre']}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" (click)="onDelete()" data-dismiss="modal">Confirmar</button>
          </div>
        </div>
    </div>
    